<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="samples-bi.ZPM">
    <Module>
      <Name>samples-bi</Name>
      <Version>1.0.3</Version>
      <Description>Provides sample data for use with InterSystems IRIS Business Intelligence, as well as fully developed sample BI models and dashboards.</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="BI.PKG"/>
      <Resource Name="HoleFoods.PKG"/>
       <Resource Name="ZipCodeData.GBL"/>
      <Invokes>
        <Invoke Class="HoleFoods.Utils" Method="StopJournalling">
          <Arg>IRISAPP</Arg>
        </Invoke>
        <Invoke Class="HoleFoods.Utils" Method="Setup"></Invoke>
        <Invoke Class="BI.Populate" Method="Setup"></Invoke>
      </Invokes>
    </Module>
    
  </Document>
</Export>
